.fashionably-late {
    width: 1512px;
    height: 100px;
    gap: 0px;
    border: 1px solid #E0DFDE;
    background-color: #8B7969;
}

.contact {
    width: 121px;
    height: 46px;
    position: absolute;
    top: 150px;
    left: 694px;
    gap: 0px;
    font-family: 'Inika', serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.61px;
    text-align: left;
    background-color: #8B7969;
}

.main-content {
    width: 972px;
    height: 606px;
    position: absolute;
    top: 247px;
    left: 273px;
    gap: 0px;
    border: 1px solid #E0DFDE;
}

.form__button-submit {
    width: 120px;
    height: 42px;
    position: absolute;
    top: 903px;
    left: 696px;
    padding: 10px 40px;
    background: #82756A;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    outline: none;
}

.modify-link {
    width: 40px;
    height: 24px;
    position: absolute;
    top: 914px;
    left: 868px;
    gap: 0px;
    font-family: 'Inika', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: left;
    background: #8B7969;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 5px;
}

.modify-link:hover {
    background: #6D5C4D;
}